<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4zS_hJcIuE69P6YyfZ45l0_WOt1929mQ</string>
	<key>GCM_SENDER_ID</key>
	<string>491385685134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dvt.ksookdhew.COS-730</string>
	<key>PROJECT_ID</key>
	<string>cos-730-1dd42</string>
	<key>STORAGE_BUCKET</key>
	<string>cos-730-1dd42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:491385685134:ios:34f6ebf18ac1ccf91bf5df</string>
</dict>
</plist>
